@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #edecf1;
}

html {
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #4e6376;
  margin-bottom: 50px;
}
.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;

}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.logo {
  width: 10rem;
  height: 10rem;
  background-image: url(./img/registration.png);
  background-size: contain;
  position: absolute;
  top: 70px;
  background-color: transparent;
}

footer {
  font-size: xx-small;
}
